body {
width:980px;
margin:0 auto;
}
h1{
  font-family: ThinF;
  font-weight: 1000;
  padding: 27px; 
}
/* ----- ãƒ˜ãƒƒãƒ€ãƒ¼ ----- */
#header {
height:100px;
background-color:#009b9f;
text-align:center;
}
/* ----- ãƒŠãƒ“ã‚²ãƒ¼ã‚¿ ----- */
/*#navigation {
height:40px;
background-color:#006669;
margin-top:auto;
}
/* ----- ã‚³ãƒ³ã‚¿ã‚¯ãƒˆ ----- */
#content { 
height:auto; 
background-color:#009b9f;
margin-top:10px;

}
.MRNimage{
	box-shadow:10px 10px 20px;
}
/* ----- ãƒ˜ãƒƒãƒ€ãƒ¼ ----- */
#footer { 
height:100px;
background-color:#e49209;
margin-top:10px;
}

@font-face {
   font-family: ThinF;
   src: url('font/MontserratAlternates-Thin.ttf') format("TrueType");
}
@font-face {
   font-family: LiteF;
   src: url('font/MontserratAlternates-Light.ttf') format("TrueType");
}
@font-face {
   font-family: asasF;
   src: url('font/Roboto-Thin.ttf') format("TrueType");
}

#footer {
    
}

#band {
    
}
